body {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 720px;
    width: 1280px;
    font-family: Arial;
    color: #f1f1f1;
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
    z-index: 1;
    background: gray;
    overflow: hidden;
}

video {
    z-index: -10;
}

.displayNone {
    display: none !important;
}

.hidden {
    visibility: hidden !important;
}

div#body {
    position: absolute;
    z-index: 10;
    top: 0px;
}

div#home {
    position: absolute;
    top: 0px;
    width: 1280px;
}

div.vertical_menu {
    position: absolute;
    top: 270px;
    left: 120px;
    /*border: 1px solid crimson;*/
    -webkit-transition: top ease-out 800ms;
}

div.vertical_menu_item {
    height: 70px;
    font-size: 35px;
    /*border: 1px solid yellow;*/
    -webkit-transition: height ease-in 500ms;
}

div.vertical_menu_item.selected {
    color: crimson;
    font-weight: bold;
    height: 200px;
}

div.fullscreen {
    height: 100%;
    border: 1px solid blue;
    width: 500px;
    z-index: 10 !important;
    position: absolute;
    top: 0px;
    left: 0px;
}

.item_0 {

}

.item_1 {

}

.item_2 {

}

.item_3 {

}

.item_4 {

}

#header1 {
    position: absolute;
    top: 200px;
}

.poster-card {
    display: inline-block;
    height: 112px;
    width: 175px;
    border: 1px solid red;
    margin: 10px;
    /*box-sizing: content-box;*/
}

.horizontal_menu {
    position: absolute;
    top: 320px;
    left: 20px;
    height: 135px;
    /*overflow: hidden;*/
    border: 1px solid yellow;
}

img.poster-logo {
    position: absolute;
    top: 10px;
    height: 112px;
    width: 175px;
    border: 1px dashed green;
    background: cyan;
}

.poster-title {
    position: absolute;
    bottom: 17px;
    z-index: 1;
    background: red;
    width: 175px;
    font-size: 30px;
}